.reg-form {
  max-width: 396px;
  margin: 0 auto;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.reg-form__submit {
  margin-top: 69px;
  height: 45px;
  background-color: #4285f4;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 1.2;
  border: none;
}

.reg-form__submit_type_short {
  margin-top: 156px;
}

.reg-form__caption {
  font-size: 14px;
  line-height: 1.2;
  color: #8b8b8b;
  margin: 0;
  text-align: center;
  padding-top: 16px;
}

.reg-form__link {
  color: #4285f4;
  margin: 0;
  text-decoration: none;
  padding-left: 6px;
}

@media screen and (max-width: 800px) {
  .reg-form {
    max-width: 260px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 500px) {
  .reg-form {
    max-width: 260px;
    padding-bottom: 30px;
  }

  .reg-form__submit {
    margin-top: 157px;
    font-size: 12px;
  }

  .reg-form__caption {
    font-size: 12px;
  }

  .reg-form__submit_type_short {
    margin-top: 245px;
  }
}
