@import url("../../fonts/fonts.css");
@import url("../../vendors/normalize.css");

.page {
  background-color: #202020;
  max-width: 100%;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 auto;
  color: white;
}
