.cards {
  margin: 70px 70px 10px;
}

.cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  column-gap: 20px;
  row-gap: 38px;
}

.cards__message {
  color: #8b8b8b;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1124px) {
  .cards {
    margin: 70px 30px 10px;
  }
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .cards {
    margin: 40px 10px 10px;
  }
  .cards__list {
    grid-template-columns: 1fr;
    row-gap: 34px;
  }
}
