.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  justify-self: center;
  height: 151px;
  width: 100%;
  object-fit: cover;
}

.card__capture {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #424242;
}

.card__name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  padding-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-width: calc(100% - 44px);
}

.card__button {
  margin-left: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #313131;
  background-position-x: center;
  background-position-y: 8px;
  background-repeat: no-repeat;
  border: none;
}
.card__button_type_like {
  background-image: url("../../images/heart.svg");
}
.card__button_type_remove {
  background-image: url("../../images/cross_icon.svg");
  background-position: center;
}

.card__time {
  color: #8b8b8b;
  font-size: 11px;
  line-height: 1.2;
  margin-top: 6px;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .card__image {
    height: 168px;
  }

  .card__name {
    font-size: 12px;
    padding-top: 5px;
  }

  .card__time {
    color: #8b8b8b;
    font-size: 10px;
  }
}
