.search {
  display: flex;
  flex-direction: column;
  padding: 70px 70px 0;
  border: 1px dotted yellow;
}

.search__container {
  display: grid;
  border-bottom: 1px solid #424242;
  padding-top: 70px;
  grid-template-columns: 34px 1fr 34px;
  grid-template-rows: auto auto;
}

.search__icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #424242;
  background-image: url("../../images/lense.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.search__input {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  color: #8b8b8b;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  box-shadow: none;
}

.search__btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #4285f4;
  background-image: url("../../images/search_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.search__radio-block {
  grid-column-start: 2;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.radio__label {
  position: relative;
}

.radio__toggle {
  margin-right: 12px;
  width: 36px;
  z-index: 1;
  opacity: 0;
}

.radio__castom {
  width: 36px;
  height: 20px;
  background-color: #3ddc84;
  border-radius: 20px;
  position: absolute;
}

.radio__castom::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
}

.radio__toggle:checked + .radio__castom::before {
  left: 18px;
}
