.header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 70px;
  border: 1px dotted yellow;
  box-sizing: border-box;
}

.header_type_main {
  background-color: #073042;
}

.header_type_reg {
  max-width: 396px;
  padding: 70px 0 0;
}

.header__text {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  padding: 40px 0 40px;
}

.header__text_hidden {
  display: none;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navbar_type_logged-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__center-block {
  justify-self: center;
}

.navbar__center-block_hidden {
  display: none;
}

.navbar__link {
  text-decoration: none;
  color: white;
  margin: 0 16px 0 0;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 400;
}

.navbar__link_picked {
  font-weight: 500;
}

.account-btn {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-self: flex-end;
}

.account-btn_hidden {
  display: none;
}

.account-btn__userpic {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #313131;
  background-image: url("../../images/userpic.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.account-btn__link {
  margin-right: 13px;
}

.enter-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enter-block_hidden {
  display: none;
}

.enter-block__link {
  text-decoration: none;
  color: white;
  margin: 0;
}

.enter-block__link_type_bold {
  margin-right: 30px;
}

.enter-block__container {
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #3ddc84;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-block__link_type_boxed {
  color: black;
}
